*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

padding:50px;

}



.box{

width:100px;

height:100px;

background:red;



animation:moveBox 3s infinite;

}



@keyframes moveBox{

from{

transform:translateX(0);

}

to{

transform:translateX(500px);

}

}