* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial;

}

ul {

    display: flex;

    background: black;

    list-style: none;

}

li {

    position: relative;

}

a {

    display: block;

    padding: 15px 20px;

    color: white;

    text-decoration: none;

}

a:hover {

    background: green;

}


.menu {

    display: none;

    position: absolute;

    top: 100%;

    left: 0;

    background: white;

    min-width: 150px;

    z-index: 10;

}

.menu a {

    color: black;

}


.dropdown:hover .menu {

    display: block;

}