*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

padding:40px;

}

/* Button */

.btn{

padding:15px 30px;

background:green;

color:white;

border:none;

cursor:pointer;

transition:0.5s;

}

/* Button Hover */

.btn:hover{

background:red;

transform:scale(1.1);

}

/* Box */

.box{

margin-top:40px;

width:200px;

height:200px;

background:orange;

color:white;

text-align:center;

line-height:200px;

transition:0.5s;

}

/* Box Hover */

.box:hover{

background:blue;

transform:rotate(360deg);

}