*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1{
    text-align: center;
    margin-top: 20px;
}


label{
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
}

button{
    width: 100px;
    padding: 12px;
    margin-top: 20px;
    background: green;
}

button{

width:100%;

padding:12px;

margin-top:20px;

background:green;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:darkgreen;

transform:scale(1.02);

} 





