* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border: 2px solid blue;
    outline: none;
}

button {
    width: 65%;
    margin-top: 20px;
    padding: 12px;
    background: rgb(105, 206, 105);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: rgb(80, 80, 216);
}
label{
    color: black;
}

p{
    color: red;
}