body{

margin:0;

}

.hero{

height:100vh;

background-image:url("images/nature.png");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

background-attachment:fixed;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:40px;

}

.content{

padding:40px;

font-size:20px;

}